.login {
    width: 300px;
    font-size: 23px;
    margin: 150px auto 0;

}
.form{
    display: flex;
    flex-direction: column;

}
.formItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}